*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

:root {
    --primary: rgb(233, 233, 233);
    --bg: rgb(29, 28, 28);
    --secondary: linear-gradient(to right, rgb(4, 56, 126), rgb(85, 245, 221));
    --secondary-hover: linear-gradient(to right,rgb(85, 245, 221), rgb(4, 56, 126));
}

header{
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: var(--bg);
    backdrop-filter: blur(8px);
    color: var(--primary);
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;
}

.logo{
    color: var(--primary);
    font-size: 1.3rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    transform: scale(1.1);
}

.nav-links{
    display: flex;
    gap: 2rem;
}

li a{
    position: relative;
    color: var(--primary);
    font-weight: 300;
}

li a::before{
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    height: 2px;
    top: 20px;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    background: var(--secondary);
    
}

li a:hover::before{
    width: 100%;
}

.visit-btn {
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    background: var(--secondary-hover);
}

.visit-btn:hover{
    background: var(--secondary);
    transform: scale(1.0);
}

#menu-icon{
    font-size: 2rem;
    display: none;
}

section{
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
    position: relative;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.about img{
    width: 30vw;
    border-radius: 50%;
}

.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.info-box h3{
    font-size: 1.8rem;
    font-weight: 500;
    opacity: 0.8;
}

.info-box h1{
    font-size: 3rem;
    font-weight: 600;
}

.info-box span{
    background: var(--secondary-hover);
    background-clip: text;
    color: transparent;
    font-size: 2rem;
    font-weight: 400;
}

.btn-group{
    display: flex;
    gap: 1rem;
}

.btn{
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid var(--bg);
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.2s ease-in-out;
}

.btn:hover{
    background-color: var(--bg);
    color: var(--primary);
}

.socials{
    display: flex;
    gap: 2rem;
}

.socials i{
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.socials i:hover{
    transform: scale(1.1);
}

.section-title{
    text-align: center;
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.experience-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.experience img{
    width: 25vw;
    border-radius: 3rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.grid-card{
    border: 2px solid var(--bg);
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: left;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.grid-card:hover{
    transform: scale(1.02);
    background-color: var(--bg);
    color: var(--primary);
}

.grid-card i{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.grid-card span{
    font-size: 1.5rem;
    font-weight: 500;
    background: var(--secondary-hover);
    background-clip: text;
    color: transparent;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background-color: var(--primary);
}

::-webkit-scrollbar-thumb{
    background: var(--secondary-hover);
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 2rem;
}

.projects-card{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border: 2px solid var(--bg);
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.projects-card:hover{
    background-color: var(--bg);
    color: var(--primary);
    transform: translateY(-10px)scale(1.02);
}

.projects-card img{
    width: 20vw;
    border-radius: 1rem;
}

.projects-card:hover .btn{
    border: 2px solid var(--primary);
    color: var(--primary);
}

.projects-card:hover .btn:hover{
    border: 2px solid var(--primary);
    background-color: var(--primary);
    color: var(--bg);
}

.projects-card h3{
    font-size: 2rem;
    font-weight: 600;
}

.input-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}

.input-box input{
    border-radius: 2rem;
    border: 2px solid var(--bg);
    padding: 2rem 9rem;
    font-size: 1.5rem;
    margin-left: 1.7rem;
}

.input-box input::placeholder{
    font-size: 2rem;
    padding: 2rem;
}

.input{
    position: relative;
}

.input i{
    position: absolute;
    font-size: 4rem;
    top: 50%;
    left: 12px;
    transform: translate(50%, -50%);
}

footer{
    bottom: 0;
    left: 0;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

footer ul{
    display: flex;
    align-items: center;
    gap: 3rem;
}

footer ul li a{
    color: var(--bg);
    font-weight: 600;
}

.copyright{
    font-size: 300;
    margin-top: 2rem;
}

@media(max-width:1280px){
    header{
        padding: 1rem 2rem;
        gap: 2rem;
    }
    .about .about-container{
        gap: 3rem;
    }
    .experience-info{
        flex-direction: column;
    }
    .input-box input{
        padding: 2rem 5rem;
        font-size: 2.5rem;
    }
    .input input::placeholder{
        font-size: 2.5rem;
    }
    .input-box{
        font-size: 2.5rem;
    }
}

@media(max-width:768px){
    header{
        gap: 1rem;
        padding: 1rem 1rem;
    }
    header .logo{
        font-size: 1rem;
    }
    header .visit-btn{
        display: none;
    }
    .about-container{
        flex-direction: column;
    }
    .input-box input{
        padding: 1rem 2rem;
        font-size: 1.8rem;
    }
    .input-box input::placeholder{
        font-size: 1.5rem;
    }
    .input-box i{
        display: none;
    }
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
    .experience-info img{
        width: 70vw;
    }
}

@media(max-width:600px){
    header #menu-icon{
        display: block;
    }
    .nav-links{
        position: absolute;
        top: 100%;
        margin-top: 1rem;
        color: var(--primary);
        display: flex;
        flex-direction: column;
        text-align: center;
        background: rgba(0, 0, 0, 0.9);
        border-radius: 2rem;
        display: none;
    }

    .nav-links li{
        margin-top: 1.5rem;
        padding: 1.5rem;
    }
    
    .nav-links.active{
        display: block;
    }
    header{
        padding: 1rem 2rem;
        gap: 8rem;
    }
    header .logo{
        font-size: 1.5rem;
    }
    .about-container img{
        width:80vw
    }
    .input-box input{
        padding: 0.5rem 3rem;
        width: 80%;
        font-size: 1.5rem;
    }
    .input-box input::placeholder{
        font-size: 1.5rem;
        text-align: center;
        justify-content: center;

    }
    footer ul{
        gap: 1rem;
    }

    .projects-grid{
        justify-content: center;
    }

    .projects-card{
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .btn{
        padding: .5rem 1rem;
    }

    .section-title{
        justify-content: center;
        text-align: center;
    }

}